<h1>Lista de posts: </h1>

{{#each posts}}
       
    <h1>{{titulo}}</h1>
    <p>{{conteudo}}</p>
    <small>{{createdAt}}</small>
   <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <hr>
{{/each}}

