body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(14, 154, 154);
    color: white;
}
header > h1{
    text-align: center;
}
section{
    background-color: white;
    color: black;
    padding: 15px;
    height: auto;
    width: 50vw;
    margin: auto;
    border-radius: 7px;
}
input#inumero{width: 80px;}
select{width: 200px;}
footer{text-align: center;}
a{
    text-decoration: none;
    color: white;
}
a:hover{color: aqua;}